.header {
	align-items: center;
	&__container {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		min-height: 56px;
		justify-content: space-between;
		gap: 20px;
	}

	&__links {
		display: flex;
		gap: 24px;
		justify-content: flex-start;
		align-items: left;
		@media (max-width:767px) {
			gap: 15px;
			flex-wrap: wrap;
		}
		:hover {
			color: #18A5C6;
			border-bottom: 1px #18A5C6 solid;
		}
	}

	&__link {
		color: inherit;
		font-weight: 700;
		border-bottom: 1px solid #fff;
		transition: all 0.5s ease 0s;
	}

	&__logo {
	
	}
}
