@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap);

@import url(https://fonts.googleapis.com/css?family=Overpass:700&display=swap);

@charset "UTF-8";

* {
  font-weight: 400;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "open sans";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "open sans";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  padding: 0rem 4.375rem 0 5.3125rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.1875rem 2.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s;
}

.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.content-title__sub-title {
  font-size: 1rem;
}

.content-title__sub-title:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.content-title__title {
  font-weight: 700;
  font-family: "overpass";
}

.content-title__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.header {
  position: relative;
  z-index: 50;
}

.header__logo {
  position: absolute;
  top: 1.0625rem;
  left: 1.1875rem;
}

.header__social {
  padding: 1.3125rem 1.4375rem;
  background-color: #6257FE;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}

.footer__title {
  color: #100C46;
}

.footer__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__up button {
  background-color: #6257FE;
  padding: 1.4375rem;
  position: absolute;
  right: 5.3125rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-page {
  background-color: #6257FE;
}

.home-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.home-page__content {
  padding-top: 5.625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38.3%;
          flex: 0 0 38.3%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home-page__text {
  max-width: 23.5rem;
}

.home-page__button {
  background-color: #fff;
  color: #100C46;
  -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
  border-radius: 0.1875rem;
}

.home-page__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  margin-right: -5.3125rem;
}

.home-page__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.about {
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #100C46;
  width: 50%;
  height: 100%;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.75rem;
  position: relative;
  z-index: 2;
}

.about__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 37.5%;
          flex: 1 0 37.5%;
  padding: 1.25rem 0rem;
}

.about__text {
  line-height: 1.6;
}

.about__image {
  -webkit-box-shadow: 0 10px 50px rgba(16, 12, 70, 0.2);
          box-shadow: 0 10px 50px rgba(16, 12, 70, 0.2);
  margin-bottom: 9.375rem;
  margin-top: 9.375rem;
  position: relative;
  padding-bottom: 47.6%;
  z-index: 2;
  width: 100vw;
}

.about__image img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services {
  position: relative;
}

.services::before {
  content: "";
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 59%;
  height: 100%;
  background-color: #fff;
}

.services::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 41%;
  height: 100%;
  background-color: #6257FE;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__content {
  margin-bottom: 70px;
  position: relative;
  z-index: 3;
}

.services__sub-title {
  color: #6257FE;
}

.services__title {
  color: #100C46;
}

.services__image {
  position: relative;
  z-index: 2;
  left: -4rem;
}

.services__img-01 {
  max-width: 100%;
  position: relative;
}

.services__img-02 {
  position: absolute;
  max-width: 100%;
}

.body-servise {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (18.5rem)[2];
  grid-template-columns: repeat(2, 18.5rem);
}

.body-servise__item {
  display: -ms-grid;
  display: grid;
  gap: 1.375rem;
}

.body-servise__title {
  color: #100C46;
  line-height: 1.4545454545;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.875rem;
}

.body-servise__title::before {
  content: "";
  background-color: #100C46;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 4.8125rem;
          flex: 0 1 4.8125rem;
  height: 1px;
}

.body-servise__text {
  color: rgba(16, 12, 70, 0.8);
  line-height: 1.6;
}

.portfolio__content {
  text-align: center;
}

.portfolio__sub-title {
  color: #6257FE;
}

.portfolio__title {
  margin-bottom: 62px;
  color: #100C46;
}

.portfolio__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__image {
  position: relative;
  padding-bottom: 132%;
}

.portfolio__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__content {
  text-align: center;
}

.team__sub-title {
  color: #6257FE;
}

.team__title {
  margin-bottom: 62px;
  color: #100C46;
}

.team__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__image {
  position: relative;
  padding-bottom: 132%;
}

.team__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 1.125rem;
  background-color: rgba(98, 87, 254, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.touch .team__item {
  opacity: 1;
  visibility: visible;
}

.item-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-team__title {
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.item-team__text {
  line-height: 2;
}

.item-team__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__sub-title {
  color: #6257FE;
}

.contact__title {
  color: #100C46;
}

.contact__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32.9182879377%;
          flex: 0 0 32.9182879377%;
}

.contact__body-form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.contact__form {
  display: -ms-grid;
  display: grid;
  gap: 1.125rem;
}

.contact__input {
  background-color: #F4F3FF;
  padding: 0.3125rem 1.25rem 3.125rem 1.25rem;
  color: rgba(16, 12, 70, 0.8);
  line-height: 1.6;
}

.contact__text-area {
  background-color: #F4F3FF;
  padding: 0.3125rem 1.25rem 10.5rem 1.25rem;
  color: rgba(16, 12, 70, 0.8);
  line-height: 1.6;
  resize: none;
}

.contact__button {
  max-width: 12rem;
  background-color: #6257FE;
  -webkit-box-shadow: 0 10px 30px rgba(98, 87, 254, 0.3);
          box-shadow: 0 10px 30px rgba(98, 87, 254, 0.3);
}

.contact__items {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 8.75rem 0rem;
}

.contact__items::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 14.25rem;
  top: 0;
  background-color: #6257FE;
}

.contact__map {
  position: relative;
  height: 38.5625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34.5625rem;
          flex: 0 1 34.5625rem;
}

.contact__map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.items-contacts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-contacts {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-contacts__title-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  line-height: 1.6;
}

.info-contacts__title-num::before {
  content: "";
  background: url("../img/contacts/01.svg") 0 0/100% no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
}

.info-contacts__num {
  font-size: 1rem;
  line-height: 1.6;
}

.info-contacts__info {
  font-size: 1rem;
  line-height: 1.6;
}

.info-contacts__title-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  line-height: 1.6;
}

.info-contacts__title-mail::before {
  content: "";
  background: url("../img/contacts/02.svg") 0 0/100% no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  height: 1rem;
  width: 1.25rem;
}

.info-contacts__title-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  line-height: 1.6;
}

.info-contacts__title-adress::before {
  content: "";
  background: url("../img/contacts/03.svg") 0 0/100% no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  height: 1.4375rem;
  width: 1.25rem;
}

@media (min-width: 47.99875em) {
  .home-page__image {
    height: 100vh;
  }
}

@media (min-width: 90em) {
  .content-title__title {
    font-size: 3.5rem;
  }

  .content-title__text {
    font-size: 1.25rem;
  }

  .footer__container {
    min-height: 16.25rem;
  }

  .home-page__content {
    padding-bottom: 5.625rem;
  }

  .home-page__text:not(:last-child) {
    margin-bottom: 4.1875rem;
  }

  .about__text p:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .services {
    padding-top: 7.875rem;
  }

  .services {
    padding-bottom: 7.5rem;
  }

  .services__container {
    gap: 7.1875rem;
  }

  .services__img-02 {
    left: 18.5625rem;
  }

  .services__img-02 {
    bottom: -11.75rem;
  }

  .body-servise {
    gap: 4rem;
  }

  .body-servise__title {
    font-size: 1.375rem;
  }

  .body-servise__text {
    font-size: 1.25rem;
  }

  .portfolio {
    padding-bottom: 9.375rem;
  }

  .portfolio {
    padding-top: 9.375rem;
  }

  .team {
    padding-bottom: 9.375rem;
  }

  .item-team__title {
    font-size: 1rem;
  }

  .item-team__text {
    font-size: 0.875rem;
  }

  .contact__container {
    gap: 5.625rem;
  }

  .contact__content {
    margin-bottom: 4.375rem;
  }

  .items-contacts-wrap {
    gap: 2.8125rem;
  }

  .info-contacts {
    gap: 5rem;
  }
}

@media (max-width: 580px) {
  .footer__container {
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .footer__up button {
    right: 0.9375rem;
    padding: 0.9375rem;
  }
}

@media (max-width: 20em) {
  .content-title__title {
    font-size: 1.5rem;
  }

  .content-title__text {
    font-size: 1.125rem;
  }

  .footer__container {
    min-height: 5rem;
  }

  .home-page__content {
    padding-bottom: 4.375rem;
  }

  .home-page__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .about__text p:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .services {
    padding-top: 1.875rem;
  }

  .services {
    padding-bottom: 0.625rem;
  }

  .services__container {
    gap: 5rem;
  }

  .services__img-02 {
    left: -12.5rem;
  }

  .services__img-02 {
    bottom: -8.75rem;
  }

  .body-servise {
    gap: 1.875rem;
  }

  .body-servise__title {
    font-size: 1.125rem;
  }

  .body-servise__text {
    font-size: 1rem;
  }

  .portfolio {
    padding-bottom: 1.875rem;
  }

  .portfolio {
    padding-top: 0.625rem;
  }

  .team {
    padding-bottom: 1.875rem;
  }

  .item-team__title {
    font-size: 0.75rem;
  }

  .item-team__text {
    font-size: 0.625rem;
  }

  .contact__container {
    gap: 1.875rem;
  }

  .contact__content {
    margin-bottom: 1.25rem;
  }

  .items-contacts-wrap {
    gap: 0.9375rem;
  }

  .info-contacts {
    gap: 1.875rem;
  }
}

@media (max-width: 70rem) {
  .team__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .team__image {
    padding-bottom: 100%;
  }
}

@media (max-width: 61.99875em) {
  [class*=__container] {
    padding: 0rem 0.9375rem 0rem 0.9375rem;
  }

  .services__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .services__img-02 {
    display: none;
  }

  .body-servise {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .contact__body {
    width: 100%;
  }

  .contact__button {
    max-width: 100%;
  }

  .contact__items {
    width: 100vw;
    padding: 2.5rem 0rem;
    padding-top: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100;
            flex: 0 0 100;
  }

  .contact__items::before {
    left: -0.9375rem;
  }

  .contact__map {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25rem;
            flex: 0 1 25rem;
  }

  .contact__map {
    left: -0.9375rem;
  }

  .items-contacts-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info-contacts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 47.99875em) {
  .home-page__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .home-page__content {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }

  .home-page__text {
    max-width: 100%;
  }

  .home-page__image {
    margin: 0rem -0.9375rem 0rem -0.9375rem;
    padding-bottom: 60%;
  }

  .about::before {
    width: 100%;
  }

  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__image {
    margin: 0rem -0.9375rem;
    padding-bottom: 60%;
  }

  .contact__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 42.5rem) {
  .services::before {
    width: 100%;
  }

  .services::after {
    display: none;
  }

  .services__img-01 {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .home-page__button {
    width: 100%;
  }

  .portfolio__body {
    gap: 0.625rem;
  }

  .team__body {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .team__image {
    padding-bottom: 70%;
  }

  .info-contacts {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 20em) and (max-width: 90em) {
@supports (font-size: clamp( 1.5rem , 0.9285714286rem  +  2.8571428571vw , 3.5rem )) {
    .content-title__title {
      font-size: clamp( 1.5rem , 0.9285714286rem  +  2.8571428571vw , 3.5rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.9285714286rem  +  2.8571428571vw , 3.5rem )) {
    .content-title__title {
      font-size: calc(1.5rem + 2 * (100vw - 20rem) / 70);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0892857143rem  +  0.1785714286vw , 1.25rem )) {
    .content-title__text {
      font-size: clamp( 1.125rem , 1.0892857143rem  +  0.1785714286vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0892857143rem  +  0.1785714286vw , 1.25rem )) {
    .content-title__text {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 70);
    }
}

@supports (min-height: clamp( 5rem , 1.7857142857rem  +  16.0714285714vw , 16.25rem )) {
    .footer__container {
      min-height: clamp( 5rem , 1.7857142857rem  +  16.0714285714vw , 16.25rem );
    }
}

@supports not (min-height: clamp( 5rem , 1.7857142857rem  +  16.0714285714vw , 16.25rem )) {
    .footer__container {
      min-height: calc(5rem + 11.25 * (100vw - 20rem) / 70);
    }
}

@supports (padding-bottom: clamp( 4.375rem , 4.0178571429rem  +  1.7857142857vw , 5.625rem )) {
    .home-page__content {
      padding-bottom: clamp( 4.375rem , 4.0178571429rem  +  1.7857142857vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 4.375rem , 4.0178571429rem  +  1.7857142857vw , 5.625rem )) {
    .home-page__content {
      padding-bottom: calc(4.375rem + 1.25 * (100vw - 20rem) / 70);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.4107142857rem  +  4.1964285714vw , 4.1875rem )) {
    .home-page__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.4107142857rem  +  4.1964285714vw , 4.1875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.4107142857rem  +  4.1964285714vw , 4.1875rem )) {
    .home-page__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.9375 * (100vw - 20rem) / 70);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.6696428571rem  +  1.3392857143vw , 1.875rem )) {
    .about__text p:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.6696428571rem  +  1.3392857143vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.6696428571rem  +  1.3392857143vw , 1.875rem )) {
    .about__text p:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 70);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.1607142857rem  +  8.5714285714vw , 7.875rem )) {
    .services {
      padding-top: clamp( 1.875rem , 0.1607142857rem  +  8.5714285714vw , 7.875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.1607142857rem  +  8.5714285714vw , 7.875rem )) {
    .services {
      padding-top: calc(1.875rem + 6 * (100vw - 20rem) / 70);
    }
}

@supports (padding-bottom: clamp( 0.625rem , -1.3392857143rem  +  9.8214285714vw , 7.5rem )) {
    .services {
      padding-bottom: clamp( 0.625rem , -1.3392857143rem  +  9.8214285714vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , -1.3392857143rem  +  9.8214285714vw , 7.5rem )) {
    .services {
      padding-bottom: calc(0.625rem + 6.875 * (100vw - 20rem) / 70);
    }
}

@supports (gap: clamp( 5rem , 4.375rem  +  3.125vw , 7.1875rem )) {
    .services__container {
      gap: clamp( 5rem , 4.375rem  +  3.125vw , 7.1875rem );
    }
}

@supports not (gap: clamp( 5rem , 4.375rem  +  3.125vw , 7.1875rem )) {
    .services__container {
      gap: calc(5rem + 2.1875 * (100vw - 20rem) / 70);
    }
}

@supports (left: clamp( -12.5rem , -21.375rem  +  44.375vw , 18.5625rem )) {
    .services__img-02 {
      left: clamp( -12.5rem , -21.375rem  +  44.375vw , 18.5625rem );
    }
}

@supports not (left: clamp( -12.5rem , -21.375rem  +  44.375vw , 18.5625rem )) {
    .services__img-02 {
      left: calc(-12.5rem + 31.0625 * (100vw - 20rem) / 70);
    }
}

@supports (bottom: clamp( -11.75rem , -7.8928571429rem  +  -4.2857142857vw , -8.75rem )) {
    .services__img-02 {
      bottom: clamp( -11.75rem , -7.8928571429rem  +  -4.2857142857vw , -8.75rem );
    }
}

@supports not (bottom: clamp( -11.75rem , -7.8928571429rem  +  -4.2857142857vw , -8.75rem )) {
    .services__img-02 {
      bottom: calc(-8.75rem + -3 * (100vw - 20rem) / 70);
    }
}

@supports (gap: clamp( 1.875rem , 1.2678571429rem  +  3.0357142857vw , 4rem )) {
    .body-servise {
      gap: clamp( 1.875rem , 1.2678571429rem  +  3.0357142857vw , 4rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.2678571429rem  +  3.0357142857vw , 4rem )) {
    .body-servise {
      gap: calc(1.875rem + 2.125 * (100vw - 20rem) / 70);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0535714286rem  +  0.3571428571vw , 1.375rem )) {
    .body-servise__title {
      font-size: clamp( 1.125rem , 1.0535714286rem  +  0.3571428571vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0535714286rem  +  0.3571428571vw , 1.375rem )) {
    .body-servise__title {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 70);
    }
}

@supports (font-size: clamp( 1rem , 0.9285714286rem  +  0.3571428571vw , 1.25rem )) {
    .body-servise__text {
      font-size: clamp( 1rem , 0.9285714286rem  +  0.3571428571vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9285714286rem  +  0.3571428571vw , 1.25rem )) {
    .body-servise__text {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 70);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.2678571429rem  +  10.7142857143vw , 9.375rem )) {
    .portfolio {
      padding-bottom: clamp( 1.875rem , -0.2678571429rem  +  10.7142857143vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.2678571429rem  +  10.7142857143vw , 9.375rem )) {
    .portfolio {
      padding-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 70);
    }
}

@supports (padding-top: clamp( 0.625rem , -1.875rem  +  12.5vw , 9.375rem )) {
    .portfolio {
      padding-top: clamp( 0.625rem , -1.875rem  +  12.5vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , -1.875rem  +  12.5vw , 9.375rem )) {
    .portfolio {
      padding-top: calc(0.625rem + 8.75 * (100vw - 20rem) / 70);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.2678571429rem  +  10.7142857143vw , 9.375rem )) {
    .team {
      padding-bottom: clamp( 1.875rem , -0.2678571429rem  +  10.7142857143vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.2678571429rem  +  10.7142857143vw , 9.375rem )) {
    .team {
      padding-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 70);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6785714286rem  +  0.3571428571vw , 1rem )) {
    .item-team__title {
      font-size: clamp( 0.75rem , 0.6785714286rem  +  0.3571428571vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6785714286rem  +  0.3571428571vw , 1rem )) {
    .item-team__title {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 70);
    }
}

@supports (font-size: clamp( 0.625rem , 0.5535714286rem  +  0.3571428571vw , 0.875rem )) {
    .item-team__text {
      font-size: clamp( 0.625rem , 0.5535714286rem  +  0.3571428571vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.5535714286rem  +  0.3571428571vw , 0.875rem )) {
    .item-team__text {
      font-size: calc(0.625rem + 0.25 * (100vw - 20rem) / 70);
    }
}

@supports (gap: clamp( 1.875rem , 0.8035714286rem  +  5.3571428571vw , 5.625rem )) {
    .contact__container {
      gap: clamp( 1.875rem , 0.8035714286rem  +  5.3571428571vw , 5.625rem );
    }
}

@supports not (gap: clamp( 1.875rem , 0.8035714286rem  +  5.3571428571vw , 5.625rem )) {
    .contact__container {
      gap: calc(1.875rem + 3.75 * (100vw - 20rem) / 70);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.3571428571rem  +  4.4642857143vw , 4.375rem )) {
    .contact__content {
      margin-bottom: clamp( 1.25rem , 0.3571428571rem  +  4.4642857143vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3571428571rem  +  4.4642857143vw , 4.375rem )) {
    .contact__content {
      margin-bottom: calc(1.25rem + 3.125 * (100vw - 20rem) / 70);
    }
}

@supports (gap: clamp( 0.9375rem , 0.4017857143rem  +  2.6785714286vw , 2.8125rem )) {
    .items-contacts-wrap {
      gap: clamp( 0.9375rem , 0.4017857143rem  +  2.6785714286vw , 2.8125rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.4017857143rem  +  2.6785714286vw , 2.8125rem )) {
    .items-contacts-wrap {
      gap: calc(0.9375rem + 1.875 * (100vw - 20rem) / 70);
    }
}

@supports (gap: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 5rem )) {
    .info-contacts {
      gap: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 5rem );
    }
}

@supports not (gap: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 5rem )) {
    .info-contacts {
      gap: calc(1.875rem + 3.125 * (100vw - 20rem) / 70);
    }
}
}

@media (any-hover: hover) {
  .footer__up button:hover {
    background-color: #4336f8;
  }

  .home-page__button:hover {
    background-color: #100c46;
    color: #fff;
  }

  .team__image:hover .team__item {
    opacity: 1;
    visibility: visible;
  }

  .contact__button:hover {
    color: #3c3c3c;
    background-color: #6257FE;
    -webkit-box-shadow: 0 25px 30px rgba(98, 87, 254, 0.3);
            box-shadow: 0 25px 30px rgba(98, 87, 254, 0.3);
  }
}