.footer {
	background-color: #1C1D1F;
	&__container {
		min-height: 60px;
		display: flex;
		align-items: center;
	}

	&__text {
		font-size: 13px;
		line-height: 22/13*100%;
		color: #939596;
	}
}

